.sidebar {
  width: 16rem;
  height: calc(100vh);
  background-color: #0084a3;
}
.accordion-element-class {
  background-color: #006881;
}
.sidebar-element {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  gap: 1rem;
  color: white;
  font-size: 14px;
  padding-top: 1rem;
  font-weight: 600;
}

.sidebar-element:hover {
  cursor: pointer;
}
.drawer-background {
  background-color: #0084a3 !important;
}
.menu-button {
  margin-left: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 900px) {
  .menu-button {
    display: none !important;
  }
}

@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
}

.master-data-list div {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;
  font-weight: 500;
}

.master-data-list div:hover {
  cursor: pointer;
}

.master-data-heading {
  padding-top: 12px;
  font-size: 16px;
  font-weight: 500;
}

.master-data-heading:hover {
  cursor: pointer;
}

.project-management-heading {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
}

.project-management-heading:hover {
  cursor: pointer;
}
