
.outlet-container{
    display: flex;
  }
  
  .outlet-flex{
    flex: 1;
    margin-left: 15px;
  }
  
  
  
  @media screen and (max-width: 900px) {
    .outlet-sidebar{
    display: none;
    }
  }