.cancel-save{
    margin-right: 1rem;
}
.cancel-save-container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}


@media screen and (max-width: 600px) {
    .cancel-save-container{
     justify-content: center;
     
   }
 }
